* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
}

section {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.primary-header .logo {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.primary-header .logo div:nth-child(1) h1 {
  font-size: 1.8rem;
}
.primary-header .logo div:nth-child(2) h1 {
  font-size: 1rem;
  font-weight: 300;
}
.primary-header .logo .line::before {
  content: "";
  background: #ffca2f;
  height: 60%;
  width: 4px;
  left: 20%;
  position: absolute;
}
.primary-header .right .navigation {
  padding: o;
  margin: 0;
  gap: 2.5rem;
}
.primary-header .right .navigation li a:hover {
  color: #ffca2f;
}

.section1 {
  background: #ffca2f;
  margin: 10rem auto 3rem auto;
  padding: 0 2rem;
  width: 90vw;
  grid-template-areas: "one two";
}
.section1 .left {
  margin-top: 0rem;
  grid-area: one;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.section1 .left img {
  width: 100%;
  height: 110%;
}
.section1 .right {
  grid-area: two;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
.section1 .right div {
  flex-direction: column;
  gap: 0.6rem;
}
.section1 .right div .name {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
.section1 .right div .tag {
  color: white;
  font-size: 2.2rem;
}
.section1 .right button {
  border: none;
  padding: 0.9rem 1.2rem;
  border-radius: 2rem;
  margin: 1rem 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 1rem;
}
.section1 .right button a span i {
  color: #ffca2f;
}

.section2 .info-container {
  margin: auto;
  padding: 2rem;
  max-width: 85%;
  min-height: 7rem;
  border: 2px solid #2a2a2a;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists {
  width: 100%;
  color: #000;
  justify-content: space-around;
  align-items: center;
}
.section2 .info-container .info-lists .info-content .icon-container {
  width: 3rem;
  height: 3rem;
  background: #ffca2f;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists .info-content .icon-container i {
  font-size: 1.4rem;
  color: white;
}
.section2 .info-container .info-lists .info-content span h5 {
  letter-spacing: 2px;
}
.section2 .info-container .info-lists .info-content span p {
  color: goldenrod;
}
.section2 .info-container .info-lists .info-divider {
  width: 2px;
  height: 35px;
  background: grey;
}

.section3 {
  justify-content: center;
}
.section3 .skills-container {
  gap: 8rem;
  justify-content: center;
}
.section3 .skills-container div {
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.section3 .skills-container div i {
  font-size: 3rem;
}

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .title {
  font-size: 2rem;
}
.section4 .project-container {
  width: 100%;
  padding: 3rem 2rem 0 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.5rem;
  justify-content: space-between;
}
.section4 .project-container .project-card {
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.section4 .project-container .project-card .top img {
  width: 100%;
  height: 250px;
}
.section4 .project-container .project-card .bottom {
  margin-top: 1.2rem;
  padding: 1rem;
}
.section4 .project-container .project-card .bottom p {
  font-size: 1.3rem;
}
.section4 .project-container .project-card .bottom p:nth-child(2) {
  margin-top: 1.2rem;
  font-weight: bold;
}

.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section5 .about-container {
  padding: 3rem;
}
.section5 .about-container .left {
  width: 50%;
  padding: 0 2rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.section5 .about-container .left .bg {
  width: 95%;
  height: 65%;
  background: #ffca2f;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.section5 .about-container .left img {
  width: 100%;
}
.section5 .about-container .right {
  width: 50%;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.section5 .about-container .right h1 {
  font-size: 3.5rem;
}
.section5 .about-container .right p:nth-child(2) {
  font-weight: 500;
}
.section5 .about-container .right p:nth-child(3) {
  font-weight: 300;
}
.section5 .about-container .right a {
  color: #0e76a8;
  text-decoration: underline;
}
.section5 .about-container .right > div {
  flex-direction: column;
}
.section5 .about-container .right > div .tag {
  font-weight: 700;
}
.section5 .about-container .right > div div {
  display: flex;
  gap: 3rem;
}
.section5 .about-container .right > div div span {
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
}
.section5 .about-container .right > div div span:hover {
  cursor: pointer;
  background: rgb(189, 188, 188);
  color: #fff;
}

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section6 .socials {
  padding: 4rem;
  gap: 8rem;
}
.section6 .socials i {
  font-size: 3.8rem;
}
.section6 .socials i:nth-child(1) {
  color: blue;
}
.section6 .socials i:nth-child(3) {
  color: blue;
}
.section6 .socials i:nth-child(4) {
  color: cyan;
}
.section6 .email-section {
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.section6 .email-section .email {
  background: #2a2a2a;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 100px;
  gap: 1rem;
  cursor: pointer;
}
.section6 .email-section .email a {
  color: rgb(153, 153, 153);
}
.section6 .email-section .email .send {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffca2f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  background: #232323;
  color: #fff;
}
footer .footer-container {
  max-width: 1440px;
  flex-direction: column;
  margin: 0 auto;
}
footer .footer-container .footer-top {
  justify-content: space-around;
  align-items: flex-start;
  padding: 4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
footer .footer-container .footer-top div {
  flex-direction: column;
}
footer .footer-container .footer-top div h3 {
  text-transform: uppercase;
}
footer .footer-container .footer-top div ul {
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}
footer .footer-container .footer-top div ul li:hover {
  color: #ffca2f;
  cursor: pointer;
}
footer .footer-container .footer-bottom {
  justify-content: center;
  padding-bottom: 2rem;
}